<ion-view >
<ion-header-bar class="bar-assertive-900" ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-right': hasHeaderFabRight}" >
  <h1 class="title">{{ 'kontaktua' | translate }}</h1>
</ion-header-bar>
  <ion-content>
    <!--<img class="full-image" ng-src="http://i.imgur.com/PyldA9O.png">-->
    <div class="card">
  <div class="item item-divider">
    Helbidea
  </div>
  <div class="item item-text-wrap">
    gure_helbidea@gmail.com
  </div>
</div>
<div class="card">
  <div class="item item-divider">
    Facebook
  </div>
  <div class="item item-text-wrap">
    gure_facebook
  </div>
</div>
<div class="card">
  <div class="item item-divider">
    Twitter
  </div>
  <div class="item item-text-wrap">
    gure_twitter
  </div>
</div>
  </ion-content>
</ion-view>
