
<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <!-- Map Tab -->
  <ion-tab title="{{ 'ekitaldiak' | translate }}" icon-off="ion-clipboard" icon-on="ion-clipboard" ui-sref="tab.ekitaldiak">
    <ion-nav-view name="tab-ekitaldiak"></ion-nav-view>
  </ion-tab>

  <!-- tabernak Tab -->
<ion-tab title="{{ 'tabernak' | translate }}" icon-off="icon ion-beer  " icon-on="icon ion-beer" ui-sref="tab.map">
    <ion-nav-view name="tab-map"></ion-nav-view>
  </ion-tab>
<!-- kontaktuak Tab -->
  <ion-tab title="{{ 'kontaktua' | translate }}" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" ui-sref="tab.kontaktua">
    <ion-nav-view name="tab-kontaktua"></ion-nav-view>
  </ion-tab>
